In [1]:
import psycopg2
import pandas as pd
import numpy as np

conn = psycopg2.connect(
    host="codd01.research.northwestern.edu",
    database="postgres",
    user="cpdbstudent",
    password="DataSci4AI")

In [4]:
cursor = conn.cursor()
trr_query = "select * from trr_trr_refresh"
actionresponse_query = "select * from trr_actionresponse_refresh"
trrstatus_query = "select * from trr_trrstatus_refresh"
weapondischarge_query = "select * from trr_weapondischarge_refresh"
charge_query = "select * from trr_charge_refresh"
subjectweapon_query = "select * from trr_subjectweapon_refresh"

In [5]:
cursor.execute(trr_query)
trr_trr = cursor.fetchall()
print("trr dim is " + str(len(trr_trr))) # 17465

cursor.execute(actionresponse_query)
trr_actionresponse = cursor.fetchall()
print("actionresponse dim is " + str(len(trr_actionresponse))) # 112995

cursor.execute(trrstatus_query)
trr_trrstatus = cursor.fetchall()
print("trrstatus dim is " + str(len(trr_trrstatus))) # 63455

cursor.execute(weapondischarge_query)
trr_weapondischarge = cursor.fetchall()
print("weapondischarge dim is " + str(len(trr_weapondischarge))) # 1308

cursor.execute(charge_query)
trr_charge = cursor.fetchall()
print("charge dim is " + str(len(trr_charge))) #40481

cursor.execute(subjectweapon_query)
trr_subjectweapon = cursor.fetchall()
print("subjectweapon dim is " + str(len(trr_subjectweapon))) # 11731

trr dim is 17465
actionresponse dim is 112994
trrstatus dim is 63455
weapondischarge dim is 1308
charge dim is 40481
subjectweapon dim is 11731

In [6]:
df_trr = pd.DataFrame(
    trr_trr,
    columns=['id', 'event_id', 'cr_number', 'beat', 'block', 'direction', 'street', 'location', 'trr_datetime', 
             'indoor_or_outdoor', 'lighting_condition', 'weather_condition', 'notify_OEMC', 'notify_district_sergeant', 
             'notify_OP_command', 'notify_DET_division', 'party_fired_first', 'officer_assigned_beat', 
             'officer_on_duty', 'officer_in_uniform', 'officer_injured', 'officer_rank', 'subject_armed', 
             'subject_injured', 'subject_alleged_injury', 'subject_age', 'subject_birth_year', 'subject_gender', 
             'subject_race', 'officer_last_name', 'officer_first_name', 'officer_middle_initial', 'officer_gender', 
             'officer_race', 'officer_age', 'officer_appointed_date', 'officer_birth_year', 'officer_unit_name', 
             'officer_unit_detail', 'trr_created', 'latitude', 'longitude', 'point']
)

print(df_trr.shape)

(17465, 43)

In [6]:
df_actionresponse = pd.DataFrame(
    trr_actionresponse,
    columns=['person', 'resistance_type', 'action', 'other_description', 'trr_report_id']
)

print(df_actionresponse.shape)

(112994, 5)

In [11]:
print(df_trr.count())
print(df_actionresponse.count())

id                          17465
event_id                    17213
cr_number                    1614
beat                        17465
block                       17465
direction                   17438
street                      17465
location                    17465
trr_datetime                17465
indoor_or_outdoor           17196
lighting_condition          17193
weather_condition           16912
notify_OEMC                  6866
notify_district_sergeant     9259
notify_OP_command            2229
notify_DET_division             8
party_fired_first             574
officer_assigned_beat       16901
officer_on_duty             17382
officer_in_uniform          17376
officer_injured             17465
officer_rank                17465
subject_armed               17426
subject_injured             17459
subject_alleged_injury      17459
subject_age                 17465
subject_birth_year          17465
subject_gender              17445
subject_race                17407
officer_last_name           17465
officer_first_name          17465
officer_middle_initial       8881
officer_gender              17465
officer_race                17465
officer_age                 17465
officer_appointed_date      17465
officer_birth_year          10141
officer_unit_name           17465
officer_unit_detail          1307
trr_created                 10141
latitude                    17465
longitude                   17465
point                       17465
dtype: int64
person               112960
resistance_type      112960
action               112960
other_description      5132
trr_report_id        112994
dtype: int64

In [51]:
df_actionresponse[pd.isnull(df_actionresponse[["person", "resistance_type", "action"]]).any(axis=1)]

,person,resistance_type,action,other_description,trr_report_id
0,Member Action,Active Resister,TAKE DOWN/EMERGENCY HANDCUFFING,None,96449
1,Member Action,Passive Resister,MEMBER PRESENCE,None,96449
2,Member Action,Passive Resister,PRESSURE SENSITIVE AREAS,None,96449
3,Member Action,Passive Resister,VERBAL COMMANDS,None,96449
4,Subject Action,Active Resister,FLED,None,96449
...,...,...,...,...,...
112989,Subject Action,Assailant Battery,ATTACK WITHOUT WEAPON,None,6314297
112990,Subject Action,Passive Resister,DID NOT FOLLOW VERBAL DIRECTION,None,6314297
112991,Subject Action,Passive Resister,STIFFENED (DEAD WEIGHT),None,6314297
112992,Subject Action,Assailant Battery,ATTACK WITHOUT WEAPON,None,6352461
112993,Subject Action,Passive Resister,DID NOT FOLLOW VERBAL DIRECTION,None,6352461

In [17]:
df_actionresponse_nullrowsremoved = df_actionresponse[-pd.isnull(df_actionresponse[["person", "resistance_type", "action"]]).any(axis=1)]
print(df_actionresponse.shape)
print(df_actionresponse_nullrowsremoved.shape)

(112994, 5)
(112960, 5)

In [19]:
print(df_actionresponse_nullrowsremoved.person.unique())

['Member Action' 'Subject Action']

In [20]:
print(df_actionresponse_nullrowsremoved.resistance_type.unique())

['Active Resister' 'Passive Resister' 'Assailant Assault'
 'Assailant Battery' 'Assailant Assault/Battery' 'Assailant Deadly Force']

In [26]:
print(df_actionresponse_nullrowsremoved.action.unique())

['TAKE DOWN/EMERGENCY HANDCUFFING' 'MEMBER PRESENCE'
 'PRESSURE SENSITIVE AREAS' 'VERBAL COMMANDS' 'FLED' 'PULLED AWAY'
 'DID NOT FOLLOW VERBAL DIRECTION' 'STIFFENED (DEAD WEIGHT)'
 'OPEN HAND STRIKE' 'ARMBAR' 'ESCORT HOLDS' 'WRISTLOCK'
 'IMMINENT THREAT OF BATTERY' 'OTHER (SPECIFY)' 'TASER (PROBE DISCHARGE)'
 'TASER (CONTACT STUN)' 'ATTACK WITHOUT WEAPON' 'ATTACK WITH WEAPON'
 'CLOSED HAND STRIKE/PUNCH' 'KNEE STRIKE' 'KICKS'
 'WEAPON(DESCRIBE IN ADDITIONAL INFO)' 'CONTROL INSTRUMENT'
 'O.C./CHEMICAL WEAPON'
 'USES FORCE LIKELY TO CAUSE DEATH OR GREAT BODILY HARM '
 'IMPACT WEAPON (DESCRIBE IN ADDITIONAL INFO)' 'ELBOW STRIKE' 'FIREARM'
 'TASER (SPARK DISPLAYED)' 'CANINE' 'O.C./CHEMICAL WEAPON W/AUTHORIZATION'
 'TASER (ARC CYLCLE) 2' 'PERCEIVED AS (SPECIFY)' 'TASER (ARC CYLCLE) 1'
 'TASER (PROBE DISCHARGE) 1' 'TASER (PROBE DISCHARGE) 2'
 'TASER (ARC CYLCLE) 3' 'TASER (ARC CYLCLE)' 'TASER (SPARK DISPLAYED) 1'
 'TASER (CONTACT STUN) 3' 'TASER (CONTACT STUN) 1'
 'TASER (CONTACT STUN) 2' 'TASER (PROBE DISCHARGE) 3']

In [36]:
print(df_actionresponse_nullrowsremoved.other_description.unique())
print(df_actionresponse['other_description'].count())
len(pd.unique(df_actionresponse_nullrowsremoved['other_description']))
np.set_printoptions(threshold=np.inf)

[None 'NONCOMPLAINT WITH SCISSORS ' 'CLOSED HAND FIST' ...
 'TOSS WET BEDDING AT STAFF' 'REACHED UNDER SEAT VEHICLE' 'STRUCK VICTIM']
5132

3619

In [23]:
print(df_actionresponse_nullrowsremoved.trr_report_id.unique())

[  96449   96450   96451 ... 6114176 6314297 6352461]

In [48]:
df_actionresponse_nullrowsremoved['exists'] = df_actionresponse_nullrowsremoved['trr_report_id'].isin(df_trr['id'])

df_actionresponse_nullrowsremoved.exists.value_counts()

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_12939/2041545282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_actionresponse_nullrowsremoved['exists'] = df_actionresponse_nullrowsremoved['trr_report_id'].isin(df_trr['id'])

True    112960
Name: exists, dtype: int64

In [50]:
trrstatus_query = "select * from trr_trrstatus_refresh"

cursor.execute(trrstatus_query)
trr_trrstatus = cursor.fetchall()
print("trrstatus dim is " + str(len(trr_trrstatus))) # 63455

print(type(trrstatus_query))
print(len(trrstatus_query))
print(len(trrstatus_query[0]))

trrstatus dim is 63455
<class 'str'>
35
1

In [55]:
df_trrstatus = pd.DataFrame(trr_trrstatus)
colnames = [desc[0] for desc in cursor.description]
df_trrstatus.columns = colnames

print(df_trrstatus.shape)

(63455, 14)

In [56]:
df_trrstatus.dtypes

officer_rank                 object
officer_star                 object
status                       object
status_datetime              object
officer_age                 float64
officer_first_name           object
officer_middle_initial       object
officer_last_name            object
officer_gender               object
officer_race                 object
officer_birth_year           object
officer_appointed_date       object
officer_unit_at_incident     object
trr_report_id                 int64
dtype: object

In [57]:
df_trrstatus

,officer_rank,officer_star,status,status_datetime,officer_age,officer_first_name,officer_middle_initial,officer_last_name,officer_gender,officer_race,officer_birth_year,officer_appointed_date,officer_unit_at_incident,trr_report_id
0,OFFICER,4502,None,2016-04-12 11:53:00-05,36.0,SYLWIA,None,REJMAN,F,WHITE,None,11-30-12,None,96449
1,SERGEANT,1543,None,2016-04-13 12:02:00-05,34.0,NIKI,None,CAMPUS,F,WHITE,None,08-29-05,None,96449
2,LIEUTENANT,330,None,2016-04-13 02:36:00-05,55.0,STEPHANIE,None,STUART,F,BLACK,None,11-07-88,None,96449
3,OFFICER,17679,None,2016-04-12 11:49:00-05,31.0,EUGENE,None,VANN,M,WHITE HISPANIC,None,11-24-14,None,96450
4,SERGEANT,1543,None,2016-04-12 11:50:00-05,34.0,NIKI,None,CAMPUS,F,WHITE,None,08-29-05,None,96450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63450,Sergeant of Police,None,SUBMITTED,2020-06-06 12:39:00-05,NaN,CHARLIE,S,JOHNSON,M,BLACK,1980,2002-OCT-28,2,6314297
63451,Lieutenant of Police,None,APPROVED,2020-06-07 01:17:00-05,NaN,TAMARA,B,MARGOLIS,F,WHITE,1974,1998-JUL-27,2,6314297
63452,Police Officer,None,SUBMITTED,2020-06-06 02:20:00-05,NaN,KARLA,L,ESPINOZA,F,WHITE HISPANIC,1980,2016-AUG-29,25,6352461
63453,Sergeant of Police,None,SUBMITTED,2020-06-06 05:28:00-05,NaN,MARK,E,FLECHSIG,M,WHITE,1969,1998-MAY-04,25,6352461
63454,Lieutenant of Police,None,APPROVED,2020-06-07 09:56:00-05,NaN,NELSON,I,PEREZ,M,WHITE HISPANIC,1963,1994-MAY-02,25,6352461

In [ ]:
df_trr_refresh['trr_created'] = pd.to_datetime(df_trr_refresh['trr_created'])